/* navbar styling */
nav{
    background-color: #161e67;
    font-family: 'Montserrat', sans-serif;
}
.navbar-toggler{
    border-color: white;
}
.navbar-brand{
    color:white;
    font-size: 38px;
}
.nav-link{
    color: white;
}
.dropdown-menu{
    color:white;
    background-color: #161e67;
}
.navbar a{
    color:white;
    margin-left: 20px;
}

    /* carousel styling */
.carousel{
    background-color: #ffacac;
    margin-bottom: 100px;
}
.carousel img {
    border: solid 3px;
    border-color: #ff5c5c;
    margin: auto;
}

#carouselExampleControls{
    margin-top: 3%;
}

.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
}

.test1{
    margin-top: 20%;
    margin-right: 20%;
    padding-left: 20%;
    text-align: center;
}

.testName{
    margin-top: 5%;
    padding-left: 20%;
}

/* media calls for responsive carousel */
@media (max-width: 979px) {
    .carousel {
    width: 100%;
    height: auto;

}
}


@media (max-width: 470px) {
    .carousel {
    max-width:300%;
    width:150%;
    min-height: 300px;
}
}


/* best seller area styling */

.container{
    margin-top: 10%;
    margin-bottom: 10%;
    }

.col{
    font-family: 'Montserrat', sans-serif;
}

.col img{
    border-radius: 10%;
    justify-content: center;
}

h2{
    margin-top: 30%;
}
p{
    font-size: 15px;
    text-align: justify;
}

/* footer styling */

footer {
    display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 130px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ff5c5c;
    color: white;
    text-align: center;
	font-size: 14px;
	align-items: center;
  }
footer p{
	align-items: center;
	margin-bottom: 0;

}
footer a{
	color: white;
	font-weight: 600;
}

footer a:hover{
	color: #161e67; 
}
